html * {
    font-family: Reckless, serif;
}

body {
    min-width: 360px;
    height: 100%;
    width: 100%;
    background-image: url("https://fthmb.tqn.com/psdgyhKm3-TXfPuEhpraYiWxNJU=/3364x2242/filters:fill(auto,1)/GettyImages-93453966-59684e1d3df78c57f49b0c91.jpg");
}

.header {
    font-size: 90px;
    color: #d7e7e3;
}

.border-radius {
    border-radius: 10px;
}

.container-special {
    max-height: 400px;
    overflow-y: scroll;
}
